# Ignore Node.js dependencies
node_modules/

# Ignore build output folder (GitHub Pages will use gh-pages branch)
dist/

# Ignore environment files (if any)
.env
.env.local

# Ignore Webpack cache files
.cache/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE/editor files
.vscode/
.idea/
.DS_Store
Thumbs.db
